<p>Details</p>
<div>
    {{storeDetails.id}}<br>
    {{storeDetails.name}}<br>
    {{storeDetails.username}}<br>
    {{storeDetails.email}}<br>
    {{storeDetails.address.street}}<br>
    {{storeDetails.address.suite}}<br>
    {{storeDetails.address.city}}<br>
    {{storeDetails.address.zipcode}}<br>
    {{storeDetails.address.geo.lat}}<br>
    {{storeDetails.address.geo.lng}}<br>
    {{storeDetails.phone}}<br>
    {{storeDetails.website}}<br>
    {{storeDetails.company.name}}<br>
    {{storeDetails.company.catchPhrase}}<br>
    {{storeDetails.company.bs}}<br>
</div>
